:root {
    --main-color: #007bff;

}

body {
    background-color: #100720;
    color: white;
    font-family: Poppins;
}

main {
    width: 900px;
    height: 650px;
    margin: 200px auto;
    background-color: #1F242D;
    border: 5px solid var(--main-color);
    border-radius: 50px;
    box-shadow: 0 0 50px 10px var(--main-color);
    
}

article {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
figure img {
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--main-color);
    margin: -50% 0 20px 0;
}

figcaption h1 {
    font-family: 'Dancing Script', sans-serif;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-top: 50px 0;
}

figcaption h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0;
    padding: -20px;
}

figcaption p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 1px;
    margin: 40px;
    padding: 20px 0 40px 0;
  }

  footer a {
    font-size: 40px;
    color: white;
    margin: 40px;
    padding: 20px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    transition: ease-in .3s;
  }

  footer a:hover {
    color: #1F242D;
    background-color: var(--main-color);
    box-shadow: 0 0 30px var(--main-color);
    transform: scale(5.5);
  }

  figcaption h1, h2, p {
    animation: figure 2s;
  }
  footer {
    animation: sosmed 1s;
  }

  @keyframes figure {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
  @keyframes sosmed {
	0% {
		opacity: 0;
		margin-top: -100px;
	}

	100% {
		opacity: 1;
		margin: 0;
	}
}